.profile-container {
  max-width: 80%;
  margin: auto;

  h1 {
    font-size: 38px;
    margin: 50px 20px 0;
  }
}

.reservation-container, .review-container{

}

.reservation-item {
  display: flex;
  height: 155px;
  border-bottom: solid 1px #ccc;

  box-sizing: border-box;
  margin: 20px 40px 40px;
}

.reservation-pic {
  width: 175px;
  height: 135px;
  border-radius: 10px;
  background-size: 175px, 135px;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.reservation-content {
  position: relative;
  flex: 1;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0 20px;


  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 12px 0 0;
    font-size: 20px;
  }
}

.reservation-title {
  a {
    font-size: 26px;
  }
}

.reservation-details {
  color: #666;
}

.reservation-content button {
  background-color: #ce5454;
  color: #fff;
  position: absolute;
  right: -6px;
  bottom: 16px;
  width: 150px;
  height: 41px;
  border-radius: 6px;
}
