// Place all the styles related to the api/Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.reservation-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  padding: 40px;
}

.reservation-search {
  display: inline-flex;

  select, button {
    height: 50px;
    width: 160px;
  }

  button {
    background-color: #559e9e;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    padding: 8px 18px;
    width: 240px;
  }

  select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    background-color: #fff;
  }

  input {
    height: 46px;
    width: 200px;
  }

}

.reservation-button-container {
  width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reservation-button-container button {
  min-width: 110px;
  min-height: 36px;
  color: white;
  border-radius: 4px;
}

.reservation-button-container button:focus {
  outline: none;
}

.time-slot-active {
  background-color: #4e6780;
}

.time-slot-inactive {
  background-color: #888;
  border-color: #aaa;
  border: 0 none;
}
