// Place all the styles related to the api/Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant-flex-container {
  display: flex;
  max-width: 80%;
}

.restaurant-flex-items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%
}

.restaurant-item {
  display: flex;
  height: 155px;
  margin: 10px;
  border-bottom: solid 1px #ccc;
}

.restaurant-item-pic {
  width: 175px;
  height: 135px;
  border-radius: 10px;
  background-size: 175px, 135px;
  background-position: center;
  background-repeat: no-repeat;
}

.restaurant-item-text {
  padding-left: 40px;
  font-size: 14px;
}
