.detail-header {
  background: linear-gradient(to top right, rgba(170,170,170, 0.2), rgba(80,80,80,1));
  height: 200px;
}

.detail-main {
  max-width: 85%;
  margin: auto;
}

.content-block {
  background-color: #fff;
  margin: 40px 0;

  h3 {
    box-sizing: border-box;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    padding: 25px;
  }

  p {
    box-sizing: border-box;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 25px;
  }
}

.spacer {
  margin: 0 15px;
}

.map {
  height: 250px;
  width: 100%;
  background-color: #aaa;
}

.map-container {
  position: relative;
}

.map-address {
  position: absolute;
  top: 30%;
  left: 6%;
  z-index: 1;
  padding: 25px 40px;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  text-shadow: 1px 1px #000;
  border-radius: 7px;
  white-space: pre;
}

.detail-photos-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.detail-photos {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.detail-header-content {
  padding: 20px 50px;
}

.dhc-container {
  display: flex;
  justify-content: flex-start;
  max-width: 1200px;
  margin-left: 3%;
}

.dhc-pic {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  background-size: 175px, 135px;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.dhc-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: 30px;
}

.dhc-title {
  font-size: 44px;
  margin: -2px;
}

.dhc-reviews {
  height: 20px;
  display: inline-flex;
}

.dhc-type-details {
  margin: 4px;

  li {
    display: inline;
  }
}
