// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.auth-form-bg {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(http://res.cloudinary.com/openbistro/image/upload/v1481393027/splash-login-2_dsdpxc.jpg);

  background-size: cover;
  background-position: 50%;
  height: 100vh;
  position: relative;
}

.auth-form-welcome {
  padding: 50px 60px;

  h1 {
    font-weight: 600;
    font-size: 42px;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  h2 {
    color: #fff;
    font-size: 28px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

.auth-form {
    position: absolute;
    top: 20%;
    left: 36%;
    box-sizing: border-box;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.auth-form h3{
    background: #2c3e50;
    text-transform: uppercase;
    color: #FFF;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

.auth-form input[type="text"],
.auth-form input[type="password"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
    font-size: 16px;
}

.auth-form button,
.auth-form input[type="submit"] {
    background-color: #559e9e;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    padding: 8px 18px;
    text-transform: uppercase;
}

.auth-form button {
  margin-bottom: 15px;
}

.auth-form-prompt a {
  text-decoration: underline;
  color: blue;
}

.auth-form-errors {
  padding-bottom: 5px;
}
.auth-form-errors li {
  color: red;
}
