/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* CSS Reset */

 html, head, body, header, nav, h1, a, ul, li, main,
 section, p, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 header, nav, main, section,footer, small {
   display: block;
 }

 ul {
   list-style: none;
 }

 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }


 body {
  /*font-family: 'Roboto';*/
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #eee;
}

/* Header and Navbar*/

.header {
  background: #2c3e50;
  color: #fff;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  font-weight: 600;
  padding: 12px;
  margin-left: 10px;
}

.header-nav {
  margin: 16px;
  padding: 6px;
}

.header-nav > a {
  padding: 10px;
}

.header-nav button {
  margin-left: 10px;
}

.home-bg-image {
  background-image: url(http://res.cloudinary.com/openbistro/image/upload/c_scale,w_1540/v1478113887/root-splash_es6ddq.jpg);
  height: 400px;
  background-size: cover;
}

.home-bg-image h1 {
  color: white;
  font-size: 36px;
  font-weight: 600;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-left: 50px;
  padding-top: 80px;
}
